[Desktop Entry]
Name=uniqueizer
Comment=Application for web scraping and uniqueizing sites
Exec=/opt/uniqueizer/bin/uniqueizer
Icon=/opt/uniqueizer/lib/scrapper.png
Terminal=false
Type=Application
Categories=Utility;Network;Java;
StartupWMClass=com.desktop.application.ScrapperApplication